<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxlirong.tool.mapper.ToolRbacUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gxlirong.tool.entity.ToolRbacUserEntity">
        <id column="user_id" property="userId" />
        <result column="domain" property="domain" />
        <result column="department_id" property="departmentId" />
        <result column="organization_id" property="organizationId" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="created_id" property="createdId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_id" property="updatedId" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted_id" property="deletedId" />
        <result column="deleted_time" property="deletedTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_enabled" property="isEnabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        domain, user_id, department_id, organization_id, login_name, password, real_name, mobile, email, created_id, created_time, updated_id, updated_time, deleted_id, deleted_time, is_deleted, is_enabled
    </sql>

</mapper>
